local
*.pid
*.log
popfile.cfg
popfile.db
*.tmp
messages/*

# Build artifacts
Makefile
blib/
_build/
MYMETA.*
MANIFEST.bak
*.bs
*.o
pm_to_blib
legacy/
lib
!ui/src/lib
!vendor/perl-querybuilder/lib
popfile.db.backup
tools/cleanup.pl
