{
  "version": 2,
  "api": {
    "port": 0,
    "local": true,
    "password": "",
    "page_size": 25,
    "locale": "",
    "session_dividers": true,
    "wordtable_format": "",
    "open_browser": false
  },
  "bayes": {
    "database": "popfile.db",
    "dbconnect": "dbi:SQLite:dbname=$dbname",
    "dbuser": "",
    "dbauth": "",
    "unclassified_weight": 100,
    "stopword_ratio": 0,
    "subject_mod_left": "[",
    "subject_mod_right": "]",
    "subject_mod_pos": true,
    "xpl_angle": false,
    "nihongo_parser": "kakasi",
    "sqlite_journal_mode": "delete"
  },
  "config": {
    "piddir": "",
    "pidcheck_interval": 5
  },
  "GLOBAL": {
    "message_cutoff": 100000,
    "msgdir": "messages/",
    "timeout": 60
  },
  "history": {
    "history_days": 2,
    "archive": false,
    "archive_classes": 0,
    "archive_dir": "archive"
  },
  "imap": {
    "enabled": false,
    "hostname": "",
    "port": 143,
    "use_ssl": false,
    "login": "",
    "password": "",
    "training_mode": false,
    "training_limit": 0,
    "update_interval": 20,
    "expunge": false
  },
  "logger": {
    "level": 0,
    "format": "default",
    "log_to_stdout": false,
    "log_sql": false
  },
  "pop3": {
    "local": true,
    "port": 110,
    "separator": ":",
    "toptoo": false,
    "secure_port": 995
  },
  "smtp": {
    "local": true,
    "port": 25,
    "chain_port": 25
  },
  "nntp": {
    "local": true,
    "port": 119,
    "separator": ":",
    "headtoo": false
  },
  "wordmangle": {
    "stemming": false,
    "auto_detect_language": false
  }
}
